<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.acmenxd.test">

    <application>
        <activity
            android:name="com.acmenxd.test.view.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.acmenxd.test.view.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.acmenxd.test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>