<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.acmenxd.test_demo">

    <application>
        <activity
            android:name="com.acmenxd.test_demo.view.LogActivity"/>
        <activity
            android:name="com.acmenxd.test_demo.view.ToastActivity"/>
        <activity
            android:name="com.acmenxd.test_demo.view.SPActivity"/>
        <activity
            android:name="com.acmenxd.test_demo.view.FileActivity"/>
        <activity
            android:name="com.acmenxd.test_demo.view.GlideActivity"/>
        <activity
            android:name="com.acmenxd.test_demo.view.FrescoActivity"/>
        <activity
            android:name="com.acmenxd.test_demo.view.RetrofitActivity"/>
        <activity
            android:name="com.acmenxd.test_demo.view.RecyclerActivity"/>
        <activity
            android:name="com.acmenxd.test_demo.view.DBActivity"/>
    </application>

</manifest>