<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.acmenxd.mvp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme"/>
        <activity
            android:name=".view.test.LogActivity"/>
        <activity
            android:name=".view.test.ToastActivity"/>
        <activity
            android:name=".view.test.SPActivity"/>
        <activity
            android:name=".view.test.FileActivity"/>
        <activity
            android:name=".view.test.GlideActivity"/>
        <activity
            android:name=".view.test.FrescoActivity"/>
        <activity
            android:name=".view.test.RetrofitActivity"/>
        <activity
            android:name=".view.test.RecyclerActivity"/>
        <activity
            android:name=".view.test.DBActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.acmenxd.mvp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.acmenxd.glide.GlideManager"
            android:value="GlideModule"/>
    </application>
</manifest>