<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.acmenxd.mvp">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"/>
        <activity
            android:name=".view.test.LogActivity"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".view.test.ToastActivity"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".view.test.SPActivity"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".view.test.FileActivity"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".view.test.frescoActivity"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".view.test.RetrofitActivity"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".view.test.RecyclerActivity"
            android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".view.test.DBActivity"
            android:theme="@style/ActivityTheme"/>
    </application>

</manifest>